.meBox {
  display:flex;
  flexDirection:row;
  justifyContent : space-around;
  alignItems:center;
}
.meTitle {
  display :flex;
  alignItems:center;
  justifyContent:center;
}
.img {
  border-radius: 3px;
}
/* 날아오는 애니메이션 */
@keyframes fly-in {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.flyInDiv {
  animation: fly-in 1s ease-out;
}
