.meBox {
  display:flex;
  align-items: center;
  width: 100%;
}
.meTitle {
  display :flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  height: 100%;
}

/* 날아오는 애니메이션 */
@keyframes fly-in {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.flyInDiv {
  animation: fly-in 1s ease-out;
}
