/* 바디 사이즈 */
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #2e332e;
  width: 100vw;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
/* 페이지 컴포넌트 최상위 요소 */
.wrap {
  width : 1920px;
  height: 810px;
  background-color: #2e332e;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* 내용물 컴포넌트 최상위 요소 */
.container {
  width : 800px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*! '컴포넌트 명 + box'는 각 컴포넌트별로 위치 및 정렬 */

/* up 버튼 애니메이션 */
@keyframes slideDownFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.slide-down-fade-in {
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: slideDownFadeIn;
  animation-duration: 1.5s;
  animation-fill-mode: both;
}
/* down 버튼 애니메이션 */
@keyframes slideUpFadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.slide-up-fade-in {
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: slideUpFadeIn;
  animation-duration: 1.5s;
  animation-fill-mode: both;
}