.musicBox {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.playList {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 450px;
  flex-wrap: wrap;
  align-content: flex-start;
}
.musicBox iframe {
  width: 800px;
  height: 450px;
}

@media screen and (max-width: 450px) {
  .musicBox iframe {
    width: 1px;
    height: 1px;
  }
}