.container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
/* .jukeBox {
  z-index: 1;
  position : 'fixed';
  top: '50%';
  left: '50%';
  transform: 'translate(-50%, -50%)';
} */
.playList {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 450px;
  flex-wrap: wrap;
  align-content: flex-start;
}
