.portfolioBox {
  width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio-item {
  position: absolute;
  width: 300px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #c7484a;
}
.portfolio-item.left {
  left: 300px;
}

.portfolio-item.centered {
  width: 500px;
  height: 400px;
  z-index: 2;
}

.portfolio-item.right {
  right: 300px;
}
.portfolio-item img {
  width: 100%;
  height: auto;
}